.banner{
	background: url('../images/alba_banner_image.jpeg');
	background-position: center;
	background-size: cover;
	height: 250px;
	display: flex;
	justify-content: left;
	align-items: center;
	left: 0;
	right: 0;
	width: 100%;
}

.banner .title{
	text-align: left;
	margin-left: 100px;
}

.banner .title h1{
	font-size: 36px;
	color: #353535;
	margin-top: 0;
	margin-bottom: 0;
}