.banner{
	background: url('../images/banner.jpg');
	background-position: center;
	background-size: cover;
	height: 250px;
	display: flex;
	justify-content: right;
	align-items: center;
	left: 0;
	right: 0;
	width: 100%;
}

.banner .title{
	text-align: right;
	margin-right: 100px;
}

.banner .title h1{
	font-size: 36px;
	color: #FFF;
	margin-top: 0;
	margin-bottom: 0;
}