@charset "UTF-8";

#goods_image {
	max-width: 500px;
	height: 500px;
}

#detail_indicator {
	font-size: 14px;
}

#detail_category {
	text-align: right;
	color: #47C83E;
	margin-top: 5px;
}


#heart_icon {
	font-size: 30px;
	cursor: pointer;
}

#time_div {
	text-align: right;
}

#recent_price {
	font-size: 12px;
	color: #47C83E;
	text-decoration: none;
}

#social {
	margin-top: -5px;
}

#member_nick {
	font-size: 12px;
	color: #47C83E;
}

#user_img {
	font-size: 20px;
	color: #47C83E;
	cursor: pointer;
}

#kakaotalk-sharing-btn {
	font-size: 12px;
	color: #47C83E;
	text-decoration: none;
}

#kakaotalk-sharing-img {
	width: 20px;
	height: 20px;
	cursor: pointer;
	margin-bottom: 3px;
}

#view_div {
	text-align: right;
	font-size: 14px;
}

#goods_state {
	font-size: 18px;
	font-style: bold;
	margin-top: 150px;
	color: #47C83E;
	text-align: center;
}

#member_nick {
	color: #47C83E;
	text-decoration: none;
}

#store_info {
	margin-top: 150px;
}

#goods_content {
	width: 750px;
	height: 130px;
	border: none;
	border-radius: 10px;
	resize: none;
	outline: none;
	spellcheck: false;
}

#trade_here {
	font-size: 14px;
}

#map {
	width: 600px;
	height: 200px;
	border: 1px solid #47C83E;
	border-radius: 10px;
	outline: 2px #47C83E;
}

#trade_marker {
	color: #47C83E;
}

#chat {
	position: relative;
	margin-top: 10px;
	border-color: #47C83E;
}

#chat:hover {
	border-color: #47C83E;
	color: #47C83E;
	background-color: transparent;
}

#edit {
	float: right;
	margin-top: 10px;
}

#hit_goods {
	margin-top: -100px;
}

#hit_info {
	margin: 10px;
	margin-top: -50px;
	padding-right: 10px;
}

#hit_name {
	color: inherit;
	text-decoration: none;
	font-style: bold;
}

#hit_img {
	width: 200px;
	height: 200px;
}

#place_info {
	width:150px;
	font-size: 12px;
	text-align:center;
	padding:6px 0;
}

#place_a {
	color: #47C83E;
	text-decoration: none;
}

