.goods_form button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.goods_form button:hover {
    background-color: #45a049;
}

.img-container {
	width: 80px; /* 이미지 컨테이너의 너비를 설정합니다. */
	height: 80px; /* 이미지 컨테이너의 높이를 설정합니다. */
	overflow: hidden; /* 너비와 높이를 벗어나는 부분은 잘라냅니다. */
}

.img-container img {
	width: 100%; /* 이미지의 너비를 100%로 설정하여 이미지 컨테이너에 맞춥니다. */
	height: 100%; /* 이미지의 높이를 100%로 설정하여 이미지 컨테이너에 맞춥니다. */
	display: block; /* 인라인 요소를 블록 요소로 변경합니다. */
	margin: auto; /* 이미지를 가운데 정렬합니다. */
}