@charset "UTF-8";


img{
	/*글쓴이의 프로필 사진을 둥글게*/
	width: 40px;
	height: 40px;
	border: 0px;
	/*border: 1px solid #cecece;*/
	border-radius: 50%;
}

p {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 20px;
}

.badge{
	margin-left: 15px;
}



.msg-container{max-width:1170px; margin:auto;}
img{ max-width:100%;}
.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%; border-right:1px solid #f7f7f7;
}
.inbox_msg {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border: 1px solid #f7f7f7;
  border-radius: 15px;
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:40%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%; padding:
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #f7f7f7;}

.recent_heading h4 {
  color: #5fcf80;
  font-size: 30px;
  margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none; font-family: 'Nanum Pen Script', cursive; font-size:25px;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:20px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:13px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #f7f7f7;
  margin: 0;
  padding: 18px 16px 10px;
}


.chat_list_box :hover{
	background-color: #d6ead0;
}

.inbox_chat { height: 550px; overflow-y: scroll;}

.active_chat{ background:#ebebeb;}

/* .incoming_msg_img {
  width: 5;
  height: 3%;
} */
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
  font-size: 10px;
 }
.time_date  {
  display: inline-block;
  height: 12px; /* 원하는 높이로 조절 */
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 2px 0 8px;
   text-align: left;
}
.time_date2  {
  display: inline-block;
  height: 12px; /* 원하는 높이로 조절 */
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 2px 0 8px;
  text-align: right;
  padding-right: 10px;
}
.received_withd_msg {
	font-size: 17px;
	position: relative;
	padding: 10px 20px;
	border-radius: 25px;
	background: #E5E5EA;
	color: black;
	float: left;
	}
	
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 60%;
}

.sent_msg {
	font-size: 17px;
	position: relative;
	padding: 10px 20px;
	border-radius: 25px;
	margin-left: 30px;
	background: #0B93F6;
	float: right;
	color: white;
}

/* .sent_msg:before {
	content: "";
	position: absolute;
	z-index: -1;
	bottom: -2px;
	right: -7px;
	height: 20px;
	border-right: 20px solid #0B93F6;
	border-bottom-left-radius: 16px 14px;
	-webkit-transform: translate(0, -2px);
	margin-left: 30px;
}

.sent_msg:after {
	content: "";
	position: absolute;
	z-index: 1;
	bottom: -2px;
	right: -56px;
	width: 26px;
	height: 20px;
	background: white;
	border-bottom-left-radius: 10px;
	-webkit-transform: translate(-30px, -2px);
	margin-left: 30px;
} */

.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {border-top: 1px solid #dfdfdf;position: relative;}
.msg_send_btn {
  background: #97df93 none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}

.msg_send_btn:hover{
	background: #5fcd58 none repeat scroll 0 0;
}

.messaging { padding: 0 0 50px 0;}
.msg_history {
  height: 516px;
  overflow-y: auto;
  width:630px;
  padding-right: 15px;
}